body{
    background-image: linear-gradient(to left , lightcoral, cornflowerblue);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px double black;
    background-image: linear-gradient(to left , lightcoral, cornflowerblue);
}
.titulo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 60px;
    margin: 7px 0;
    text-align: center;

}
.subtitulo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    text-align: center;
}
.redes{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 8px;
}
.redes p{
    margin-bottom: 0;
}
.logo{
    margin: 5px;
}
.logo:hover{
    transform: scale(1.2);
}
.img{
    width: 100px;
    margin: 5px  0 0 5px;
}
#contenedor{
    width: 85%;
    margin: 50px auto;
    height: 550px;
    display: flex;
    padding: 20px;
    background: rgba(255,255,255,.1);
}
#ahorcado{
    height: 500px;
}
.frase{
    display: flex;
    text-align: center;
    justify-content: center;
}
#teclado{
    display: block;
    align-content: space-around;
}
#palabra{
    margin-top: 80px;
    margin-bottom: 30px;
}
#palabra span{
    vertical-align: bottom;
    border-bottom: 2px solid black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-right: 8px;
    display: inline-block;
    width: 35px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.botones{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
#btnJugar{
    height: 50px;
    width: 150px;
    text-transform: uppercase;
}
#btnDesistir{
    height: 50px;
    width: 150px;
    
    text-transform: uppercase;
}
.boton{
    border: 2px double white;
    background: transparent;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 10px 0 #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.boton:hover{
    transform: scale(1.1);
}
.letrita{
    width: 58%;
    margin: auto;

}
#letras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#resultado{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#letras button{
    width: 35px;
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
#letras button:hover{
    background-color: white;
    border-color: grey;
}

@media screen and (max-width:1100px){
    #contenedor{
        width: 95%;
        height: 90%;
        margin: 20px auto;
        display:block;
        padding: 0;
    }
    #ahorcado{
        height: 400px;
        margin: auto;
    }
    .foto{
        text-align: center;
    }
}
@media screen and (max-width:580px){
    header{
        width:100%;
        justify-content: center;
    }
    .alura{
        display: none;
    }
    #palabra span{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .img{
        width: 80px;
    }
    .titulo{
        font-size: 45px;
        margin: 4px 0;
    }
    .subtitulo{
        font-size: 15px;
    }
    .redes{
        font-size: 15px;
    }
    #ahorcado{
        height: 350px;
        margin: auto;
    }
    .letrita{
        width: 80%;
        margin: auto;
    }
}
#tituloInput{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
#divBtn{
    display: flex;
    justify-content: center;
}
#btnAdd{
    text-align: center;
    background-color: crimson;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
}