body{
    background-image: linear-gradient(to left , lightcoral, cornflowerblue);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 1px double black;
    background-image: linear-gradient(to left , lightcoral, cornflowerblue);
}
.titulo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 60px;
    margin: 7px 0;
    text-align: center;

}
.subtitulo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    text-align: center;
}
.redes{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 8px;
}
.logo{
    margin: 5px;
}
.logo:hover{
    transform: scale(1.2);
}
.img{
    width: 100px;
    margin: 5px  0 0 5px;
}
#contenedor{
    width: 85%;
    margin: 50px auto;
    height: 500px;
    display: flex;
    padding: 20px;
    background: rgba(255,255,255,.1);
}
#ahorcado{
    height: 500px;
}
.frase{
    display: flex;
    text-align: center;
    justify-content: center;
}
#teclado{
    display: block;
    align-content: space-around;
}
#palabra{
    margin-top: 80px;
    margin-bottom: 30px;
}
#palabra span{
    vertical-align: bottom;
    border-bottom: 2px solid black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-right: 8px;
    display: inline-block;
    width: 35px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.botones{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
#btnJugar{
    height: 50px;
    width: 150px;
    text-transform: uppercase;
}
#btnDesistir{
    height: 50px;
    width: 150px;
    
    text-transform: uppercase;
}
.boton{
    border: 2px double white;
    background: transparent;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 10px 0 #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.boton:hover{
    transform: scale(1.1);
}
.letrita{
    width: 58%;
    margin: auto;

}
#letras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#resultado{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#letras button{
    width: 35px;
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
#letras button:hover{
    background-color: white;
    border-color: grey;
}

@media screen and (max-width:1100px){
    #contenedor{
        width: 95%;
        height: 90%;
        margin: 20px auto;
        display:block;
        padding: 0;
    }
    #ahorcado{
        height: 400px;
        margin: auto;
    }
    .foto{
        text-align: center;
    }
}
@media screen and (max-width:580px){
    header{
        width:100%;
        justify-content: center;
    }
    .alura{
        display: none;
    }
    #palabra span{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .img{
        width: 80px;
    }
    .titulo{
        font-size: 45px;
        margin: 4px 0;
    }
    .subtitulo{
        font-size: 15px;
    }
    .redes{
        font-size: 15px;
    }
    #ahorcado{
        height: 350px;
        margin: auto;
    }
    .letrita{
        width: 80%;
        margin: auto;
    }

}
.contenedorWord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 50px auto;
    height: 500px;
    padding: 20px;
    background: rgba(255,255,255,.1);
    
}
.contenedorWord h2{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}
/* From uiverse.io by @Yaseen549 */
.input {
    background-color: #212121;
    width: 50%;
    height: 50px;
    padding: 10px;
    text-align: center; 
    border: 2px solid white;
    border-radius: 5px;
     box-shadow: 3px 3px 2px rgb(255, 255, 255); 
    font-size: 1.5rem;
    color: white;
    margin: 20px;
  }
  
  .input:focus {
    color: rgb(100, 155, 255);
    background-color: #212121;
    outline-color: rgb(100, 155, 255);
    box-shadow: -1px -1px 20px rgb(150, 155, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

/* From uiverse.io by @mrhyddenn */
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.4rem;
  }
  
  .add-btn:hover {
    width: 150px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: rgb(100, 155, 255);
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: rgb(100, 155, 255);
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
.btnHome{
    padding: 20px 50px;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    background: steelblue;
    font-weight: 400;
    margin-top: 15px;
    color: white;
    border: 1px solid white;
}